{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <main class="main default">
        <div class="container">
            <!-- banner -->
            <div class="row banner-ads">
                <div class="col-12">
                    <section class="banner">
                        <a href="#">
                            <img src="{% get_media_prefix %}assets/img/banner/banner.jpg" alt="">
                        </a>
                    </section>
                </div>
            </div>
            <!-- banner -->
            <div class="row">
                <main class="col-12 col-lg-12 order-1 order-lg-2">
                    <section id="main-slider" class="carousel slide carousel-fade card" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                            <li data-target="#main-slider" data-slide-to="1"></li>
                            <li data-target="#main-slider" data-slide-to="2"></li>
                            <li data-target="#main-slider" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="d-block" href="#">
                                    <img src="{% get_media_prefix %}assets/img/slider/22f48d8e-6a8f-431c-985d-76ab0e1e59405_21_1_1.jpg"
                                         class="d-block w-100" alt="">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="d-block" href="#">
                                    <img src="{% get_media_prefix %}assets/img/slider/a264d696-9c12-4dd9-bdc1-12c13a3632b329_21_1_1.jpg"
                                         class="d-block w-100" alt="">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="d-block" href="#">
                                    <img src="{% get_media_prefix %}assets/img/slider/c0a50594-df40-412b-84f8-c7d6872fb83620_21_1_1.jpg"
                                         class="d-block w-100" alt="">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="d-block" href="#">
                                    <img src="{% get_media_prefix %}assets/img/slider/d1844e92-e5a9-4aef-8ea7-49be936422ca6_21_1_1.jpg"
                                         class="d-block w-100" alt="">
                                </a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                        </a>
                        <a class="carousel-control-next" href="#main-slider" data-slide="next">
                            <i class="now-ui-icons arrows-1_minimal-left"></i>
                        </a>
                    </section>
                </main>
            </div>
        </div>
    </main>
{% endblock %}
