{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
    <div class="wrapper default">

        <!-- main -->
        <main class="single-product default">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <article class="product">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product-gallery default">
                                        <img class="zoom-img" id="img-product-zoom"
                                             src="{% get_media_prefix %}{{ product.product_url }}"
                                             data-zoom-image="assets/img/product/13351544.jpg" width="411"/>

                                    </div>
                                    <ul class="gallery-options">
                                        <li>
                                            <button class="add-favorites"><i class="fa fa-heart"></i></button>
                                            <span class="tooltip-option">افزودن به علاقمندی</span>
                                        </li>
                                        <li>
                                            <button data-toggle="modal" data-target="#myModal"><i
                                                    class="fa fa-share-alt"></i></button>
                                            <span class="tooltip-option">اشتراک گذاری</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product-title default">
                                        <h1>
                                            {{ product.product_name }}
                                        </h1>
                                    </div>
                                    <div class="product-directory default">
                                        <ul>
                                            <li>
                                                <span>برند</span> :
                                                <span class="product-brand-title">{{ product.manufacturer_id.manufacturer_name }}</span>
                                            </li>
                                            <li>
                                                <span>دسته‌بندی</span> :
                                                <a href="#" class="btn-link-border">
                                                    {{ product.category_id.category_name }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-variants default">
                                        <span>انتخاب رنگ: </span>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1">
                                            <label for="radio1">
                                                خاکستری
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2" checked="">
                                            <label for="radio2">
                                                نقره ای
                                            </label>
                                        </div>

                                    </div>
                                    <div class="product-guarantee default">
                                        <i class="fa fa-check-circle"></i>
                                        <p class="product-guarantee-text">گارانتی اصالت و سلامت فیزیکی کالا</p>
                                    </div>
                                    <div class="product-delivery-seller default">
                                        <p>
                                            <i class="now-ui-icons shopping_shop"></i>
                                            {% for item in orderItem %}
                                                <span>{{ item.product_id.product_name }}</span>
                                                <a href="#" class="btn-link-border">نامعلوم</a>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="price-product defualt">
                                        <div class="price-value">
                                            <span>
                                                {% if not product.discount_set.all %}
                                                    {% for p in product.price_set.all %}
                                                        {{ p.price }}
                                                    {% endfor %}
                                                {% endif %}
                                                {% for p in product.discount_set.all %}
                                                    {{ p.final_price }}
                                                {% endfor %}
                                            </span>
                                            <span class="price-currency">تومان</span>
                                        </div>
                                        <div class="price-discount" data-title="تخفیف">
                                            <span>
                                                {% for p in product.discount_set.all %}
                                                    {{ p.discount }}
                                                {% endfor %}
                                            </span>
                                            <span>%</span>
                                        </div>
                                    </div>
                                    <div class="product-add default">
                                        <div class="parent-btn">
                                            <button class="dk-btn dk-btn-info" id="addToCart"
                                                    data-product="{{ product.id }}" data-action="add">افزودن به سبد خرید
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 center-breakpoint">
                                    <div class="product-guaranteed default">
                                        بیش از ۱۸۰ نفر از خریداران این محصول را پیشنهاد داده‌اند
                                    </div>
                                    <div class="product-params default">
                                        <ul data-title="ویژگی‌های محصول">
                                            <li>
                                                <span>حافظه داخلی: </span>
                                                <span> 256 گیگابایت </span>
                                            </li>
                                            <li>
                                                <span>شبکه های ارتباطی: </span>
                                                <span> 2G,3G,4G </span>
                                            </li>
                                            <li>
                                                <span>رزولوشن عکس: </span>
                                                <span> 12.0 مگاپیکسل</span>
                                            </li>
                                            <li>
                                                <span>تعداد سیم کارت: </span>
                                                <span> تک </span>
                                            </li>
                                            <li>
                                                <span>ویژگی‌های خاص: </span>
                                                <span> مقاوم در برابر آب
                                                    مناسب عکاسی
                                                    مناسب عکاسی سلفی
                                                    مناسب بازی
                                                    مجهز به حس‌گر تشخیص چهره
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </main>
        <!-- main -->

    </div>
{% endblock %}